<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="../static/css/rent-now.css">
  </head>
  <body>
    <div class="header">
      <div class="header-logo">
        <h1>KUCHAU</h1>
      </div>
      <div class="header-nav">
        <a href="../index.html">Welcome</a>
        <a href="car-list.html">Cars</a>
        <a href="../templates/location-list.html">Locations</a>
        <div class="header-divider"></div>
        <a href="rent-now.html" class="header-rent-btn">Rent Now</a>
      </div>
    </div>

    <div>
      <h1>Create User</h1>
      <form id="create-user-form">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" maxlength="8" required>

        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required>

        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required>

        <button type="submit" id="create-user-button" disabled>Create User</button>
      </form>
    </div>

	
    <div>
      <h1>Cars Table</h1>
      <form id="cars-form">
        <table>
          <thead>
            <tr>
              <th>Select</th>
              <th>ID</th>
              <th>Brand</th>
              <th>Model</th>
              <th>Type</th>
              <th>Year</th>
              <th>Cost Per Day</th>
            </tr>
          </thead>
          <tbody id="cars-table-body"></tbody>
        </table>
        <button type="submit">Rent selected car</button>
      </form>
    </div>

    <div>
      <h1>Locations Table</h1>
      <form id="locations-form">
        <table>
          <thead>
            <tr>
              <th>Select</th>
              <th>ID</th>
              <th>Address</th>
              <th>District</th>
            </tr>
          </thead>
          <tbody id="locations-table-body"></tbody>
        </table>
        <button type="submit">Select location</button>
      </form>
    </div>

    <div>
      <h1>Select dates:</h1>

      <label for="start-date">Start Date:</label>
      <input type="date" id="start-date">
    
      <label for="end-date">End Date:</label>
      <input type="date" id="end-date">
    
      <button onclick="saveDates()">Select dates</button>
    </div>

	<div>
		<button type="submit" id="confirmRent">Confirm</button>
	</div>
  <script src="..static/js/rent-now.js"></script>
  </body>
</html>